<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-03-14T14:01:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/chris/JUCE_5/dev/MidiMonitor/Builds/MacOSX/MidiMonitor.xcodeproj</string>
</dict>
</plist>
